*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

h1{background-color: teal;
    padding: 5px 10px 5px 23px; /*top right bottom left*/
    margin:10px 5px; /*top-bottom right-left*/
    border: 2px solid rebeccapurple;
}

.container{
    width:222px;
    height:200px;
    background-color: chartreuse;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 55px 10px;
    margin-left: 300px;
    box-shadow: 10px 5px 300px rgb(108, 6, 126);
    /*horizontal vertical blur*/
}



/*display sth inline*/
a{
    margin-top: 10px;
    background-color: rgb(158, 98, 213);
    padding: 5px;
    border-radius: 45px;
    display: inline-block;
}

/*button display sth*/
button{
    background-color: red;
    color: white;
    padding: 10px;
    margin-left: 555px;
    border-radius: 10px;
    width: 200px;


    
}




button:hover{
    background-color: gold;
    margin: 10px;
    
}

div{
    margin-left: 20px;
    margin-top: 10px;
    color: beige;
}

/*img{
    margin-left: 10px;
    width: 10px;
    padding: 20px;
}
*/
