/*universal selector*/
*{
    background-color: darkslateblue;
    color: chartreuse;
    font-style: italic;
}


/*elem selector*/
header{
    background-color: grey;
    color: rgb(133, 0, 0);
    font-family: cursive;
}

h3{
    background-color: rgba(42, 177, 144, 0.538);
    color:rgb(174, 68, 171);
}


/*class selector*/
.subtitle{
    background-color: teal;
color: rgb(255, 0, 191);
}

/*id selector*/
#description{
    background-color: crimson;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

